# NOTEBOOK N2.04 ETL ESFORÇO DOCENTE

## Importando a biblioteca pandas

In [1]:
import pandas as pd

## Carregando os Dataframes

In [2]:
df1 = pd.read_excel('IED_BRASIL_REGIOES_UFS_2022.xlsx', skiprows=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], skipfooter=5)
df2 = pd.read_excel('IED_MUNICIPIOS_2022.xlsx', skiprows=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], skipfooter=5)

In [3]:
df1

,NU_ANO_CENSO,UNIDGEO,NO_CATEGORIA,NO_DEPENDENCIA,FUN_CAT_1,FUN_CAT_2,FUN_CAT_3,FUN_CAT_4,FUN_CAT_5,FUN_CAT_6,...,FUN_AF_CAT_3,FUN_AF_CAT_4,FUN_AF_CAT_5,FUN_AF_CAT_6,MED_CAT_1,MED_CAT_2,MED_CAT_3,MED_CAT_4,MED_CAT_5,MED_CAT_6
0,2022,Brasil,Total,Total,20.5,17.5,27.1,26.9,5.4,2.6,...,28.1,38,9.3,4.5,1.3,10.5,28.8,40.8,12.6,6
1,2022,Brasil,Urbana,Total,17.4,17.4,28.2,28.2,5.9,2.9,...,29.3,40.2,10.3,5.1,1.2,10.1,28.9,40.8,12.8,6.2
2,2022,Brasil,Rural,Total,32.5,15.7,20.6,24.5,4.6,2.1,...,20.9,31.8,6.5,3,3.9,13,23.4,40.5,13.1,6.1
3,2022,Brasil,Total,Federal,13.1,36.3,30.8,17.2,1.7,0.9,...,33.6,21.4,2,1,2.4,33.3,34.1,28.1,1.7,0.4
4,2022,Brasil,Urbana,Federal,12.9,36.4,30.9,17.2,1.7,0.9,...,33.6,21.4,2.1,0.9,2.3,32.5,33.6,29.3,1.8,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,2022,Distrito Federal,Urbana,Privada,19.9,14.5,34.5,26.1,3.9,1.1,...,34,41.4,7.6,2.4,1,7.7,40.2,38.9,9.3,2.9
582,2022,Distrito Federal,Rural,Privada,0,4,76,20,0,0,...,73.9,21.7,0,0,0,11.1,59.3,25.9,3.7,0
583,2022,Distrito Federal,Total,Pública,41.5,25.3,26.9,5.4,0.6,0.3,...,64.1,11,1.4,0.6,0.5,16.4,58.8,20.6,2.9,0.8
584,2022,Distrito Federal,Urbana,Pública,40.7,25.5,27.6,5.4,0.5,0.3,...,65.4,10.9,1.2,0.6,0.5,16,59.7,20.4,2.6,0.8
585,2022,Distrito Federal,Rural,Pública,49.4,22.6,19.3,7.2,1.3,0.2,...,46.3,14.9,3.3,0.3,0.8,22.1,44.6,25.1,6.7,0.7

In [4]:
df2

,NU_ANO_CENSO,NO_REGIAO,SG_UF,CO_MUNICIPIO,NO_MUNICIPIO,NO_CATEGORIA,NO_DEPENDENCIA,FUN_CAT_1,FUN_CAT_2,FUN_CAT_3,...,FUN_AF_CAT_3,FUN_AF_CAT_4,FUN_AF_CAT_5,FUN_AF_CAT_6,MED_CAT_1,MED_CAT_2,MED_CAT_3,MED_CAT_4,MED_CAT_5,MED_CAT_6
0,2022,Norte,RO,1100015,Alta Floresta D'Oeste,Total,Total,45.6,3.6,17.6,...,29.6,43.5,7.8,4.3,2.4,6.3,12.5,60,12.5,6.3
1,2022,Norte,RO,1100015,Alta Floresta D'Oeste,Urbana,Total,41.2,2.7,19.6,...,32.2,45.6,8.9,5.6,0,6.7,12.2,60.8,13.5,6.8
2,2022,Norte,RO,1100015,Alta Floresta D'Oeste,Rural,Total,38.5,4.3,12.9,...,18,50,8,4,6.3,0,3.1,75,12.5,3.1
3,2022,Norte,RO,1100015,Alta Floresta D'Oeste,Total,Estadual,22.5,0,27.5,...,35.4,48.4,9.7,6.5,2.4,6.3,12.5,60,12.5,6.3
4,2022,Norte,RO,1100015,Alta Floresta D'Oeste,Urbana,Estadual,7.3,0,34.5,...,37.3,43.1,11.8,7.8,0,6.7,12.2,60.8,13.5,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66261,2022,Centro-Oeste,DF,5300108,Brasília,Urbana,Privada,19.9,14.5,34.5,...,34,41.4,7.6,2.4,1,7.7,40.2,38.9,9.3,2.9
66262,2022,Centro-Oeste,DF,5300108,Brasília,Rural,Privada,0,4,76,...,73.9,21.7,0,0,0,11.1,59.3,25.9,3.7,0
66263,2022,Centro-Oeste,DF,5300108,Brasília,Total,Pública,41.5,25.3,26.9,...,64.1,11,1.4,0.6,0.5,16.4,58.8,20.6,2.9,0.8
66264,2022,Centro-Oeste,DF,5300108,Brasília,Urbana,Pública,40.7,25.5,27.6,...,65.4,10.9,1.2,0.6,0.5,16,59.7,20.4,2.6,0.8
66265,2022,Centro-Oeste,DF,5300108,Brasília,Rural,Pública,49.4,22.6,19.3,...,46.3,14.9,3.3,0.3,0.8,22.1,44.6,25.1,6.7,0.7

## Verificando se existe algum NaN (Not a Number)

In [5]:
# Verifica se os Dataframes tem valores NaN
colunas_NaN_df1 = df1.columns[df1.isna().any()].tolist()
colunas_NaN_df2 = df2.columns[df2.isna().any()].tolist()

print("Colunas com NaN no df1:", colunas_NaN_df1)
print("Colunas com NaN no df2:", colunas_NaN_df2)

Colunas com NaN no df1: []
Colunas com NaN no df2: []

## Dicionários para referência no BD

In [6]:
# Dicionários
ufs = {'Rondônia' : 11,
  'Acre' : 12,
  'Amazonas' : 13,
  'Roraima' : 14,
  'Pará' : 15,
  'Amapá' : 16,
  'Tocantins' : 17,
  'Tocantis' : 17,
  'Maranhão' : 21,
  'Piauí' : 22,
  'Ceará' : 23,
  'Rio Grande do Norte' : 24,
  'Paraíba' : 25,
  'Pernambuco' : 26,
  'Alagoas' : 27,
  'Sergipe' : 28,
  'Bahia' : 29,
  'Minas Gerais' : 31,
  'Espírito Santo' : 32,
  'Rio de Janeiro' : 33,
  'São Paulo' : 35,
  'Paraná' : 41,
  'Santa Catarina' : 42,
  'Rio Grande do Sul' : 43,
  'Mato Grosso do Sul' : 50,
  'Mato Grosso' : 51,
  'Goiás' : 52,
  'Distrito Federal' : 53}

ufs_s = {'RO' : 11,
  'AC' : 12,
  'AM' : 13,
  'RR' : 14,
  'PA' : 15,
  'AP' : 16,
  'TO' : 17,
  'MA' : 21,
  'PI' : 22,
  'CE' : 23,
  'RN' : 24,
  'PB' : 25,
  'PE' : 26,
  'AL' : 27,
  'SE' : 28,
  'BA' : 29,
  'MG' : 31,
  'ES' : 32,
  'RJ' : 33,
  'SP' : 35,
  'PR' : 41,
  'SC' : 42,
  'RS' : 43,
  'MS' : 50,
  'MT' : 51,
  'GO' : 52,
  'DF' : 53}

loc = {'Rural' : 2, 
       'Total' : 3, 
       'Urbana' : 1}

dep = {'Estadual' : 2,
      'Federal' : 1,
      'Municipal': 4,
      'Privada' : 8,
      'Pública' : 7,
      'Total' : 15}

## Tratamentos de dados do Dataframe df1

In [7]:
# Substitui os valores da coluna 'UNIDGEO' pela coluna 'CD_IBGE_UF', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df1['CD_IBGE_UF'] = df1['UNIDGEO']
df1.drop('UNIDGEO', axis=1, inplace=True)
df1['CD_IBGE_UF'].replace(ufs, inplace=True)

# Substitui os valores da coluna 'NO_DEPENDENCIA' pela coluna 'TP_DEPENDENCIA_ADM', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df1['TP_DEPENDENCIA_ADM'] = df1['NO_DEPENDENCIA']
df1['TP_DEPENDENCIA_ADM'].replace(dep, inplace=True)
df1.drop('NO_DEPENDENCIA', axis=1, inplace=True)

# Substitui os valores da coluna 'NO_CATEGORIA' pela coluna 'CD_LOCALIZACAO_ESCOLA', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df1['CD_LOCALIZACAO_ESCOLA'] = df1['NO_CATEGORIA']
df1['CD_LOCALIZACAO_ESCOLA'].replace(loc, inplace=True)
df1.drop('NO_CATEGORIA', axis=1, inplace=True)

# Renomeando a coluna 'NU_ANO_CENSO' para 'ANO_CENSO'
df1 = df1.rename(columns={'NU_ANO_CENSO': 'ANO_CENSO'})
df1

,ANO_CENSO,FUN_CAT_1,FUN_CAT_2,FUN_CAT_3,FUN_CAT_4,FUN_CAT_5,FUN_CAT_6,FUN_AI_CAT_1,FUN_AI_CAT_2,FUN_AI_CAT_3,...,FUN_AF_CAT_6,MED_CAT_1,MED_CAT_2,MED_CAT_3,MED_CAT_4,MED_CAT_5,MED_CAT_6,CD_IBGE_UF,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA
0,2022,20.5,17.5,27.1,26.9,5.4,2.6,32.7,17.4,24.3,...,4.5,1.3,10.5,28.8,40.8,12.6,6,Brasil,15,3
1,2022,17.4,17.4,28.2,28.2,5.9,2.9,30.1,18.7,25,...,5.1,1.2,10.1,28.9,40.8,12.8,6.2,Brasil,15,1
2,2022,32.5,15.7,20.6,24.5,4.6,2.1,45.2,8.3,21.9,...,3,3.9,13,23.4,40.5,13.1,6.1,Brasil,15,2
3,2022,13.1,36.3,30.8,17.2,1.7,0.9,34.8,25.1,26.3,...,1,2.4,33.3,34.1,28.1,1.7,0.4,Brasil,1,3
4,2022,12.9,36.4,30.9,17.2,1.7,0.9,34.6,25.4,26.2,...,0.9,2.3,32.5,33.6,29.3,1.8,0.5,Brasil,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,2022,19.9,14.5,34.5,26.1,3.9,1.1,31.2,14,32.5,...,2.4,1,7.7,40.2,38.9,9.3,2.9,53,8,1
582,2022,0,4,76,20,0,0,0,0,100,...,0,0,11.1,59.3,25.9,3.7,0,53,8,2
583,2022,41.5,25.3,26.9,5.4,0.6,0.3,69,27.6,1.6,...,0.6,0.5,16.4,58.8,20.6,2.9,0.8,53,7,3
584,2022,40.7,25.5,27.6,5.4,0.5,0.3,68.2,28.6,1.5,...,0.6,0.5,16,59.7,20.4,2.6,0.8,53,7,1
585,2022,49.4,22.6,19.3,7.2,1.3,0.2,78.8,15.8,2.8,...,0.3,0.8,22.1,44.6,25.1,6.7,0.7,53,7,2

In [8]:
# Listas de prefixos e sufixos
antigos_prefixos = ['FUN_CAT', 'FUN_AI_CAT', 'FUN_AF_CAT', 'MED_CAT']
novos_prefixos = ['EF', 'EF_AI', 'EF_AF', 'EM']
sufixos = ['N1', 'N2', 'N3', 'N4', 'N5', 'N6']
antigos_sufixos = ['1', '2', '3', '4', '5', '6']

# Loop para adicionar as novas colunas com os sufixos
for prefixo in antigos_prefixos:
    for antigo, novo in zip(antigos_sufixos, sufixos):
        # Adiciona a nova coluna com o sufixo "N" usando o novo prefixo
        df1[f'{novos_prefixos[antigos_prefixos.index(prefixo)]}_{novo}'] = df1[f'{prefixo}_{antigo}']
        
        # Remove a coluna antiga
        df1.drop(f'{prefixo}_{antigo}', axis=1, inplace=True)

# Lista de colunas a serem removidas (N3 a N6 e FUN_CAT_3 a FUN_CAT_6, FUN_AI_N3 a FUN_AI_N6, FUN_AF_N3 a FUN_AF_N6)
colunas_a_remover = [f'{novos_prefixos[antigos_prefixos.index(prefixo)]}_{novo}' for prefixo in antigos_prefixos for novo in sufixos[2:]]

# Remove as colunas não desejadas
df1.drop(colunas_a_remover, axis=1, inplace=True)

# Remove todas as linhas que não sejam numéricas
df1['CD_IBGE_UF'] = pd.to_numeric(df1['CD_IBGE_UF'], errors='coerce')
df1.dropna(subset=['CD_IBGE_UF'], inplace=True, axis=0)

# Convertendo para inteiro
df1['CD_IBGE_UF'] = df1['CD_IBGE_UF'].astype(int)
df1

,ANO_CENSO,CD_IBGE_UF,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA,EF_N1,EF_N2,EF_AI_N1,EF_AI_N2,EF_AF_N1,EF_AF_N2,EM_N1,EM_N2
108,2022,11,15,3,28.7,12.9,49.6,16.3,4.3,8.3,1,7.5
109,2022,11,15,1,25.7,12.4,47,18,1.2,5.3,0.5,5.7
110,2022,11,15,2,36.4,13.7,57.7,8.1,14.2,17,4.3,22.1
111,2022,11,1,3,--,--,--,--,--,--,0,31
112,2022,11,1,1,--,--,--,--,--,--,0,23.2
...,...,...,...,...,...,...,...,...,...,...,...,...
581,2022,53,8,1,19.9,14.5,31.2,14,1.9,12.7,1,7.7
582,2022,53,8,2,0,4,0,0,0,4.4,0,11.1
583,2022,53,7,3,41.5,25.3,69,27.6,0.9,22,0.5,16.4
584,2022,53,7,1,40.7,25.5,68.2,28.6,0.9,21,0.5,16
585,2022,53,7,2,49.4,22.6,78.8,15.8,1.5,33.7,0.8,22.1

## Tratamentos de dados do Dataframe df2

In [9]:
# Substitui os valores da coluna 'SG_UF' pela coluna 'CD_IBGE_UF', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df2['CD_IBGE_UF'] = df2['SG_UF']
df2.drop('SG_UF', axis=1, inplace=True)
df2['CD_IBGE_UF'].replace(ufs_s, inplace=True)

# Substitui os valores da coluna 'NO_DEPENDENCIA' pela coluna 'TP_DEPENDENCIA_ADM', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df2['TP_DEPENDENCIA_ADM'] = df2['NO_DEPENDENCIA']
df2['TP_DEPENDENCIA_ADM'].replace(dep, inplace=True)
df2.drop('NO_DEPENDENCIA', axis=1, inplace=True)

# Substitui os valores da coluna 'NO_CATEGORIA' pela coluna 'CD_LOCALIZACAO_ESCOLA', dropa a coluna e substitui os valores pelo o do respectivo dicionário
df2['CD_LOCALIZACAO_ESCOLA'] = df2['NO_CATEGORIA']
df2['CD_LOCALIZACAO_ESCOLA'].replace(loc, inplace=True)
df2.drop('NO_CATEGORIA', axis=1, inplace=True)

# Excluindo colunas antigas
df2.drop('NO_MUNICIPIO', axis=1, inplace=True)
df2.drop('NO_REGIAO', axis=1, inplace=True)

# Renomeando as colunas 'NU_ANO_CENSO' em ANO_CENSO e 'CO_MUNICIPIO' em CD_IBGE_MUNICIPIO
df2 = df2.rename(columns={'NU_ANO_CENSO': 'ANO_CENSO'})
df2 = df2.rename(columns={'CO_MUNICIPIO': 'CD_IBGE_MUNICIPIO'})

df2

,ANO_CENSO,CD_IBGE_MUNICIPIO,FUN_CAT_1,FUN_CAT_2,FUN_CAT_3,FUN_CAT_4,FUN_CAT_5,FUN_CAT_6,FUN_AI_CAT_1,FUN_AI_CAT_2,...,FUN_AF_CAT_6,MED_CAT_1,MED_CAT_2,MED_CAT_3,MED_CAT_4,MED_CAT_5,MED_CAT_6,CD_IBGE_UF,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA
0,2022,1100015,45.6,3.6,17.6,25.9,4.7,2.6,91.5,3.7,...,4.3,2.4,6.3,12.5,60,12.5,6.3,11,15,3
1,2022,1100015,41.2,2.7,19.6,27.7,5.4,3.4,91.6,5,...,5.6,0,6.7,12.2,60.8,13.5,6.8,11,15,1
2,2022,1100015,38.5,4.3,12.9,35.7,5.7,2.9,91,0,...,4,6.3,0,3.1,75,12.5,3.1,11,15,2
3,2022,1100015,22.5,0,27.5,37.5,7.5,5,85.6,0,...,6.5,2.4,6.3,12.5,60,12.5,6.3,11,2,3
4,2022,1100015,7.3,0,34.5,40,10.9,7.3,80,0,...,7.8,0,6.7,12.2,60.8,13.5,6.8,11,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66261,2022,5300108,19.9,14.5,34.5,26.1,3.9,1.1,31.2,14,...,2.4,1,7.7,40.2,38.9,9.3,2.9,53,8,1
66262,2022,5300108,0,4,76,20,0,0,0,0,...,0,0,11.1,59.3,25.9,3.7,0,53,8,2
66263,2022,5300108,41.5,25.3,26.9,5.4,0.6,0.3,69,27.6,...,0.6,0.5,16.4,58.8,20.6,2.9,0.8,53,7,3
66264,2022,5300108,40.7,25.5,27.6,5.4,0.5,0.3,68.2,28.6,...,0.6,0.5,16,59.7,20.4,2.6,0.8,53,7,1
66265,2022,5300108,49.4,22.6,19.3,7.2,1.3,0.2,78.8,15.8,...,0.3,0.8,22.1,44.6,25.1,6.7,0.7,53,7,2

In [10]:
# Listas de prefixos e sufixos
antigos_prefixos = ['FUN_CAT', 'FUN_AI_CAT', 'FUN_AF_CAT', 'MED_CAT']
novos_prefixos = ['EF', 'EF_AI', 'EF_AF', 'EM']
sufixos = ['N1', 'N2', 'N3', 'N4', 'N5', 'N6']
antigos_sufixos = ['1', '2', '3', '4', '5', '6']

# Loop para adicionar as novas colunas com os sufixos
for prefixo in antigos_prefixos:
    for antigo, novo in zip(antigos_sufixos, sufixos):
        # Adiciona a nova coluna com o sufixo "N" usando o novo prefixo
        df2[f'{novos_prefixos[antigos_prefixos.index(prefixo)]}_{novo}'] = df2[f'{prefixo}_{antigo}']
        
        # Remove a coluna antiga
        df2.drop(f'{prefixo}_{antigo}', axis=1, inplace=True)

# Lista de colunas a serem removidas (N3 a N6 e FUN_CAT_3 a FUN_CAT_6, FUN_AI_N3 a FUN_AI_N6, FUN_AF_N3 a FUN_AF_N6)
colunas_a_remover = [f'{novos_prefixos[antigos_prefixos.index(prefixo)]}_{novo}' for prefixo in antigos_prefixos for novo in sufixos[2:]]

# Remove as colunas não desejadas
df2.drop(colunas_a_remover, axis=1, inplace=True)

df2

,ANO_CENSO,CD_IBGE_MUNICIPIO,CD_IBGE_UF,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA,EF_N1,EF_N2,EF_AI_N1,EF_AI_N2,EF_AF_N1,EF_AF_N2,EM_N1,EM_N2
0,2022,1100015,11,15,3,45.6,3.6,91.5,3.7,11.3,3.5,2.4,6.3
1,2022,1100015,11,15,1,41.2,2.7,91.6,5,6.6,1.1,0,6.7
2,2022,1100015,11,15,2,38.5,4.3,91,0,14,6,6.3,0
3,2022,1100015,11,2,3,22.5,0,85.6,0,0,0,2.4,6.3
4,2022,1100015,11,2,1,7.3,0,80,0,0,0,0,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66261,2022,5300108,53,8,1,19.9,14.5,31.2,14,1.9,12.7,1,7.7
66262,2022,5300108,53,8,2,0,4,0,0,0,4.4,0,11.1
66263,2022,5300108,53,7,3,41.5,25.3,69,27.6,0.9,22,0.5,16.4
66264,2022,5300108,53,7,1,40.7,25.5,68.2,28.6,0.9,21,0.5,16
66265,2022,5300108,53,7,2,49.4,22.6,78.8,15.8,1.5,33.7,0.8,22.1

## Criação do df3

In [11]:
df3 = pd.concat([df1, df2])

## Ajustes e tratamentos de dados do Dataframe df3

In [12]:
# Reordena as colunas do DataFrame de acordo com a nova ordem
nova_ordem = ['ANO_CENSO', 'CD_IBGE_UF', 'CD_IBGE_MUNICIPIO', 'TP_DEPENDENCIA_ADM', 'CD_LOCALIZACAO_ESCOLA',
              'EF_N1', 'EF_N2', 'EF_AI_N1', 'EF_AI_N2', 'EF_AF_N1', 'EF_AF_N2', 'EM_N1', 'EM_N2']

df3 = df3[nova_ordem]

In [13]:
# Lista de prefixos e sufixos
prefixos = ['EF', 'EF_AI', 'EF_AF', 'EM']
sufixos = ['N1', 'N2']

# Loop para converter as colunas
for prefixo in prefixos:
    for sufixo in sufixos:
        coluna_a_converter = f'{prefixo}_{sufixo}'
        # Substitui o valor '--' por 0 antes da conversão
        df3[coluna_a_converter] = df3[coluna_a_converter].replace('--', 0).astype(float)
        
# Convertendo a coluna 'CD_IBGE_MUNICIPIO' para valores numéricos, tratando valores não numéricos como NaN
df3['CD_IBGE_MUNICIPIO'] = pd.to_numeric(df3['CD_IBGE_MUNICIPIO'], errors='coerce')
df3['CD_IBGE_MUNICIPIO'].fillna(0, inplace=True)

# Convertendo para inteiro
df3['CD_IBGE_MUNICIPIO'] = df3['CD_IBGE_MUNICIPIO'].astype(int)
df3

,ANO_CENSO,CD_IBGE_UF,CD_IBGE_MUNICIPIO,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA,EF_N1,EF_N2,EF_AI_N1,EF_AI_N2,EF_AF_N1,EF_AF_N2,EM_N1,EM_N2
108,2022,11,0,15,3,28.7,12.9,49.6,16.3,4.3,8.3,1.0,7.5
109,2022,11,0,15,1,25.7,12.4,47.0,18.0,1.2,5.3,0.5,5.7
110,2022,11,0,15,2,36.4,13.7,57.7,8.1,14.2,17.0,4.3,22.1
111,2022,11,0,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0
112,2022,11,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66261,2022,53,5300108,8,1,19.9,14.5,31.2,14.0,1.9,12.7,1.0,7.7
66262,2022,53,5300108,8,2,0.0,4.0,0.0,0.0,0.0,4.4,0.0,11.1
66263,2022,53,5300108,7,3,41.5,25.3,69.0,27.6,0.9,22.0,0.5,16.4
66264,2022,53,5300108,7,1,40.7,25.5,68.2,28.6,0.9,21.0,0.5,16.0
66265,2022,53,5300108,7,2,49.4,22.6,78.8,15.8,1.5,33.7,0.8,22.1

## Criação do Dataframe final

In [14]:
# Criando uma cópia do DataFrame df3 para cada etapa de ensino
df_ef = df3.copy()
df_ef_ai = df3.copy()
df_ef_af = df3.copy()
df_em = df3.copy()

# Configurando os valores corretos para as colunas CD_ETAPA_ENSINO e VL_INDICADOR nos DataFrame
df_ef['CD_ETAPA_ENSINO'] = 12
df_ef['VL_INDICADOR'] = df_ef['EF_N1'] + df_ef['EF_N2']

df_ef_ai['CD_ETAPA_ENSINO'] = 4
df_ef_ai['VL_INDICADOR'] = df_ef_ai['EF_AI_N1'] + df_ef_ai['EF_AI_N2']

df_ef_af['CD_ETAPA_ENSINO'] = 8
df_ef_af['VL_INDICADOR'] = df_ef_af['EF_AF_N1'] + df_ef_af['EF_AF_N2']

df_em['CD_ETAPA_ENSINO'] = 16
df_em['VL_INDICADOR'] = df_em['EM_N1'] + df_em['EM_N2']

# Removendo as colunas indesejadas em cada DataFrame
colunas_para_remover = ['EF_N1', 'EF_N2', 'EF_AI_N1', 'EF_AI_N2', 'EF_AF_N1', 'EF_AF_N2', 'EM_N1', 'EM_N2']
df_ef.drop(columns=colunas_para_remover, inplace=True)
df_ef_ai.drop(columns=colunas_para_remover, inplace=True)
df_ef_af.drop(columns=colunas_para_remover, inplace=True)
df_em.drop(columns=colunas_para_remover, inplace=True)

# Concatenando os DataFrames em um único DataFrame final (df_final)
df_final = pd.concat([df_ef, df_ef_ai, df_ef_af, df_em], ignore_index=True)

# Ordenando o Dataframe df_final
df_final.sort_values(by=['CD_IBGE_UF', 'CD_IBGE_MUNICIPIO'], inplace=True)

df_final

,ANO_CENSO,CD_IBGE_UF,CD_IBGE_MUNICIPIO,TP_DEPENDENCIA_ADM,CD_LOCALIZACAO_ESCOLA,CD_ETAPA_ENSINO,VL_INDICADOR
0,2022,11,0,15,3,12,41.6
1,2022,11,0,15,1,12,38.1
2,2022,11,0,15,2,12,50.1
3,2022,11,0,1,3,12,0.0
4,2022,11,0,1,1,12,0.0
...,...,...,...,...,...,...,...
266971,2022,53,5300108,8,1,16,8.7
266972,2022,53,5300108,8,2,16,11.1
266973,2022,53,5300108,7,3,16,16.9
266974,2022,53,5300108,7,1,16,16.5
266975,2022,53,5300108,7,2,16,22.9

In [15]:
# Update no BD